body
{
background-color:#FFC0CB;
}

h1
{
background-color:#FFC0CB;
width: 1000px;
color: #C71585;
font-family: 'Source Code Pro', cursive;
font-size: 30px;
border: solid;
border-color: #8B008B;
border-radius: 50px;
padding: 0px;
}


h2
{
background-color: #FFC0CB;
width: 1300px;
color: #C71585;
font-family: 'EB Garamond', cursive;
font-size: 30px;
border: solid;
border-color: #8B008B;
border-radius: 50px;
padding: 0px;
}


h3
{
background-color: #FFC0CB;
width: 1300px;
color: #C71585;
font-family: 'Bangers', cursive;
font-size: 30px
}


h4
{
background-color:#FFC0CB;
width: 1300px;
color: #C71585;
font-family: 'Josefin Sans', cursive;
font-size: 30px;
}

p
{
background-color: #FFC0CB;
width: 1300px;
color: #C71585;
font-family: 'Archivo Black', cursive ;
font-size: 30px
}